# Name displayed in shared page elements
APP_NAME=Project

# Server Environment Configuration
HOST=127.0.0.1 or localhost in development or 0.0.0.0 in production
PORT=3000

# Example uri = <scheme>://<user_name>:<db_password>@<db_cluster>.<db_lookup>.<host_name>/<db_name>?<options>

# Mongo Database Configuration
DB_SCHEME= database Scheme ex: mongodb+srv
DB_USER= database user name
DB_PASSWORD= secret password
# build cluster string ex: <name>.<lookup>.<host>
DB_CLUSTER= name of mongo cluster
DB_NAME= name of database path ex: cse341 
DB_LOOKUP= look up string used in the cluster name
DB_HOST=mongodb.net
# add options to the end of the uri
DB_OPTIONS=


# Session settings
# use a different secret per environment
SESSION_SECRET=
TRUST_PROXY_HOPS=1