<header class="site-header">
	<div class="flex-row">
		<a class="btn" id="site-name" href="/" title="Home"><%= siteName %></a>
	</div>
	<nav aria-label="navigation" id="nav-bar">
		<ul>
			<!-- check if a user is logged in, swap nav items if user is logged in or not -->
			<% if (isLoggedIn) { %>
			<li>
				<form action="/logout-user" method="POST">
					<button class="btn" type="submit">Logout</button>
				</form>
			</li>
			<% } else { %>
			<li><a class="btn" href="/register-user">Register</a></li>
			<li><a class="btn" href="/login-user">Login</a></li>
			<% } %>
		</ul>
	</nav>
</header>
<!-- Flash messages -->
<% const messages = flash(); %>
<% Object.keys(messages).forEach(type => { %> <% if (messages[type].length > 0)
{ %> <% messages[type].forEach(msg => { %>
<div class="alert <%= type %>"><%= msg %></div>
<% }); %>
<% } %>
<% }); %>
